body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #87CEFA; /* Biru muda */
    color: #333; /* Warna teks gelap */
}

header {
    text-align: center;
    padding: 20px;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img {
    width: 100px; /* Atur lebar gambar sesuai kebutuhan */
    height: 100px; /* Atur tinggi gambar sesuai kebutuhan */
    border-radius: 50%; /* Membuat gambar menjadi bulat */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
    float: left; /* Memastikan Gambar Berada ada di posisinya */
    margin-right: 50px; /* Memberikan jarak antara gambar dan teks */
}

.profile-info {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

section {
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.8); /* Latar belakang transparan */
    border-radius: 8px;
}

.project {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 0;
}

.social-media {
    margin-top: 10px;
    text-align: center; /* Rata tengah */
}

.social-media a {
    color: #333; /* Warna ikon */
    margin: 0 10px;
    font-size: 24px; /* Ukuran ikon */
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #ff6347; /* Merah */
    color: #fff; /* War
